<a href="https://colab.research.google.com/github/padmilkhandelwal/MillionSongRecommendation/blob/master/Final_Data_Preperation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
#Importing all the ncessary libraries 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st
import seaborn as sns
import nltk
import string
import sqlite3 as sql
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from collections import Counter
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import random
from string import punctuation

import warnings
warnings.simplefilter('ignore')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

**Load User Profile Data**

From train_triplets.csv

In [ ]:
# lyrics_metadata=pd.read_csv('/content/drive/My Drive/ADS/final/df_metadata_topic_all.csv')

# print(lyrics_metadata.shape)
# lyrics_metadata.head()

In [ ]:
database1 = "/content/drive/My Drive/ADS/mxm_dataset.db"
connection1 = sql.connect(database1)
query1 = '''SELECT * FROM lyrics'''
df_lyrics = pd.read_sql(query1,connection1)

In [ ]:
database2 = "/content/drive/My Drive/ADS/track_metadata.db"
connection2=sql.connect(database2)
query2 = '''SELECT * FROM songs'''
df_metadata= pd.read_sql(query2,connection2)

In [ ]:
lyrics_metadata=df_metadata[df_metadata['track_id'].isin(df_lyrics['track_id'].unique())]

In [ ]:
#Importing all the ncessary libraries 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st
import seaborn as sns
import nltk
import string
import sqlite3 as sql
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from collections import Counter
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import random
from string import punctuation

import warnings
warnings.simplefilter('ignore')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

#Change Variables

In [ ]:
Num=400
user_count=10

#lyrics_metadata=df_metadata

In [ ]:
initial_hidden=pd.read_csv("/content/drive/My Drive/ADS/Test Data/year1_test_triplets_hidden.txt",sep="\t")
initial_hidden.columns=['user_id','song_id','freq_song']
initial_hidden

                                          user_id  ... freq_song
0        00007a02388c208ea7176479f6ae06f8224355b3  ...         2
1        00007a02388c208ea7176479f6ae06f8224355b3  ...         3
2        00007a02388c208ea7176479f6ae06f8224355b3  ...         1
3        00007a02388c208ea7176479f6ae06f8224355b3  ...         1
4        00007a02388c208ea7176479f6ae06f8224355b3  ...         1
...                                           ...  ...       ...
1368424  ffff07d7d9bb187aa58c7b81b3d3f35e7cf7c0ee  ...         1
1368425  ffff07d7d9bb187aa58c7b81b3d3f35e7cf7c0ee  ...         1
1368426  ffff07d7d9bb187aa58c7b81b3d3f35e7cf7c0ee  ...         1
1368427  ffff07d7d9bb187aa58c7b81b3d3f35e7cf7c0ee  ...         1
1368428  ffff07d7d9bb187aa58c7b81b3d3f35e7cf7c0ee  ...         1

[1368429 rows x 3 columns]

In [ ]:
initial_visible=pd.read_csv("/content/drive/My Drive/ADS/Test Data/year1_test_triplets_visible.txt",sep="\t")
initial_visible.columns=['user_id','song_id','freq_song']
print(initial_visible.shape)

(1319893, 3)

#Filter Songs Available in Lyrical Metadata

In [ ]:
initial_visible=initial_visible[initial_visible['song_id'].isin(lyrics_metadata['song_id'])]
initial_hidden=initial_hidden[initial_hidden['song_id'].isin(lyrics_metadata['song_id'])]

print(initial_visible.shape)
print(initial_hidden.shape)

(695151, 3)
(720623, 3)

In [ ]:
def create_popularity_recommendation(train_data, user_id, item_id, n=10):
    #Get a count of user_ids for each unique song as recommendation score
    train_data_grouped = train_data.groupby([item_id]).agg({user_id: 'count'}).reset_index()
    train_data_grouped.rename(columns = {user_id: 'score'},inplace=True)
    
    #Sort the songs based upon recommendation score
    train_data_sort = train_data_grouped.sort_values(['score', item_id], ascending = [0,1])
    
    #Generate a recommendation rank based upon score
    train_data_sort['Rank'] = train_data_sort.score.rank(ascending=0, method='first')
    
     #Get the top n recommendations
    popularity_recommendations = train_data_sort.head(n)
    return popularity_recommendations

In [ ]:
popular_visible = create_popularity_recommendation(initial_visible,'user_id','song_id', Num).reset_index(drop=True)
popular_hidden= create_popularity_recommendation(initial_hidden,'user_id','song_id', Num).reset_index(drop=True)

Randomly Select 1000 Songs from Popular

In [ ]:
visible_sample=popular_visible.sample(int(Num/2),random_state=576) 
visible_sample.shape

(200, 3)

In [ ]:
selected_visible_Songs=visible_sample['song_id'].unique()
not_selected_visible_songs=popular_hidden[~popular_hidden['song_id'].isin(selected_visible_Songs)]['song_id']

In [ ]:
not_selected_visible_songs.shape

(213,)

In [ ]:
df_valid_visible=initial_visible[initial_visible['song_id'].isin(selected_visible_Songs)]
display(df_valid_visible.shape)

(79843, 3)

In [ ]:
df_valid_hidden=initial_hidden[initial_hidden['song_id'].isin(not_selected_visible_songs)]
display(df_valid_hidden.shape)

(81519, 3)

In [ ]:
unique_users_visible=df_valid_visible['user_id'].unique()
unique_songs_visible=df_valid_visible['song_id'].unique()
unique_users_hidden=df_valid_hidden['user_id'].unique()
unique_songs_hidden=df_valid_hidden['song_id'].unique()

print(len(unique_songs_visible))
print(len(unique_songs_hidden))

200
213

In [ ]:
unique_users_hidden.sort() 
unique_users_visible.sort() 

unique_users_hidden==unique_users_visible

False

In [ ]:
# unique_songs_hidden.sort() 
# unique_songs_visible.sort() 

# unique_songs_hidden==unique_songs_visible

#Songs per User
Filter Users available in Hidden Songs
Make Sure Users in Visible and Hidden dataset are same

In [ ]:
df_valid_hidden=df_valid_hidden[df_valid_hidden['user_id'].isin(unique_users_visible)]

In [ ]:
songs_per_user_visible=df_valid_visible.groupby(by=['user_id'])['song_id'].count()
df_no_songs_per_user_visible=pd.DataFrame(songs_per_user_visible)
df_no_songs_per_user_visible.describe()

            song_id
count  44365.000000
mean       1.799684
std        1.239261
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max       16.000000

In [ ]:
songs_per_user_hidden=df_valid_hidden.groupby(by=['user_id'])['song_id'].count()
df_no_songs_per_user_hidden=pd.DataFrame(songs_per_user_hidden)
df_no_songs_per_user_hidden.describe()

            song_id
count  28342.000000
mean       2.021205
std        1.355175
min        1.000000
25%        1.000000
50%        2.000000
75%        3.000000
max       15.000000

#Filter Users in VISIBLE ( > n songs per user )

In [ ]:
df_track_visible=df_no_songs_per_user_visible[df_no_songs_per_user_visible['song_id']>user_count]
df_filtered_visible=df_track_visible.reset_index()['user_id']
display(df_filtered_visible.head())
len(df_filtered_visible)

0    01047b99e00bb0743f66bb321bdd62e38fddb0a5
1    126ee2cc7dfb9bfb8e831633a5443a9b2b7490c0
2    1b8c08ef0705ff5b9329c175904e3c48d8f6b116
3    206bd0676fe110325996506f393538fbf422549e
4    291a37c97bedabb862b2f6bad7f439cf72123d84
Name: user_id, dtype: object

31

In [ ]:
filtered_users_visible=df_valid_visible[df_valid_visible['user_id'].isin(df_filtered_visible)]
len(filtered_users_visible)
filtered_unique_songs_visible=filtered_users_visible['song_id'].unique()

In [ ]:
filtered_users_visible.head()

                                       user_id             song_id  freq_song
5769  01047b99e00bb0743f66bb321bdd62e38fddb0a5  SONNSYV12A8C146BEC          1
5773  01047b99e00bb0743f66bb321bdd62e38fddb0a5  SODCADR12AF72A1A99          1
5774  01047b99e00bb0743f66bb321bdd62e38fddb0a5  SODJWHY12A8C142CCE          3
5777  01047b99e00bb0743f66bb321bdd62e38fddb0a5  SOJZFQA12AB017BFB0          1
5778  01047b99e00bb0743f66bb321bdd62e38fddb0a5  SOPSYOY12A8C142E0B          1

In [ ]:
filtered_users_visible.shape

(369, 3)

Filter hidden users based on filtered in visible users and their songs

In [ ]:
filtered_users_hidden=df_valid_hidden[df_valid_hidden['user_id'].isin(df_filtered_visible)]
len(filtered_users_hidden)

277

In [ ]:
#Check if both have same users but different songs
filtered_users_hidden['user_id'].unique()==filtered_users_visible['user_id'].unique()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [ ]:
filtered_users_visible=filtered_users_visible[filtered_users_visible['user_id'].isin(filtered_users_hidden['user_id'])]

In [ ]:
len(filtered_users_visible['user_id'].unique())

31

In [ ]:
filtered_users_hidden['user_id'].unique()==filtered_users_visible['user_id'].unique()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [ ]:
filtered_users_visible['user_id'].nunique()

31

In [ ]:
filtered_users_hidden['user_id'].nunique()

31

Add Dominant Topics

Read from Lyrics Data frame

In [ ]:
# query1 = '''SELECT * FROM lyrics'''
# df_lyrics = pd.read_sql(query1,connection1)

In [ ]:
# df_lyrics.head()

Read ALL songs metadata

In [ ]:
# query2 = '''SELECT * FROM songs'''
# df_metadata= pd.read_sql(query2,connection2)

Read dataframe from H5 subset to check how many popular songs are in subset

In [ ]:
# df_subset_full=pd.read_csv("/content/drive/My Drive/ADS/export_dataframe.csv")

In [ ]:
# display(df_subset_full.columns)
filtered_users_visible.columns

Index(['user_id', 'song_id', 'freq_song'], dtype='object')

Merge Visible Songs with Metadata

In [ ]:
lyrics_metadata.columns

df_visible=pd.merge(filtered_users_visible,lyrics_metadata,on=['song_id'],how='left')

display(df_visible.shape)

df_visible.to_csv("/content/drive/My Drive/ADS/final/filtered_users_visible_meta_data.csv")

(369, 16)

In [ ]:
df_visible.head()

                                    user_id  ... shs_work
0  01047b99e00bb0743f66bb321bdd62e38fddb0a5  ...        0
1  01047b99e00bb0743f66bb321bdd62e38fddb0a5  ...        0
2  01047b99e00bb0743f66bb321bdd62e38fddb0a5  ...        0
3  01047b99e00bb0743f66bb321bdd62e38fddb0a5  ...        0
4  01047b99e00bb0743f66bb321bdd62e38fddb0a5  ...        0

[5 rows x 16 columns]

In [ ]:
lyrics_metadata.columns

df_hidden=pd.merge(filtered_users_hidden,lyrics_metadata,on='song_id',how='left')

display(df_hidden.shape)

df_hidden.to_csv("/content/drive/My Drive/ADS/final/filtered_users_hidden_meta_data.csv")

(277, 16)

In [ ]:
# df_hidden[df_hidden.user_id=='0b4011a9df16aedc7c1a0defabcf04a9ec4b6228'].count()

In [ ]:
# filtered_metadata=df_metadata[df_metadata['track_id'].isin(availableTracks)]

In [ ]:
df_visible.head()

                                    user_id  ... shs_work
0  01047b99e00bb0743f66bb321bdd62e38fddb0a5  ...        0
1  01047b99e00bb0743f66bb321bdd62e38fddb0a5  ...        0
2  01047b99e00bb0743f66bb321bdd62e38fddb0a5  ...        0
3  01047b99e00bb0743f66bb321bdd62e38fddb0a5  ...        0
4  01047b99e00bb0743f66bb321bdd62e38fddb0a5  ...        0

[5 rows x 16 columns]

In [ ]:
df_hidden.head()

                                    user_id  ... shs_work
0  01047b99e00bb0743f66bb321bdd62e38fddb0a5  ...        0
1  01047b99e00bb0743f66bb321bdd62e38fddb0a5  ...        0
2  01047b99e00bb0743f66bb321bdd62e38fddb0a5  ...        0
3  01047b99e00bb0743f66bb321bdd62e38fddb0a5  ...        0
4  01047b99e00bb0743f66bb321bdd62e38fddb0a5  ...        0

[5 rows x 16 columns]

In [ ]:
# df_merged_visible.columns

In [ ]:

# df_merged_hidden = pd.merge(left=df_dominant_topic, right=df_hidden, how='left', on='track_id')

# df_merged_hidden.to_csv('/content/drive/My Drive/ADS/final/merged_metadata_songs_hidden.csv')

In [ ]:
# df_merged_hidden.head()

Get users which have listened to the popular songs

In [ ]:
# df_user_hidden= pd.merge(left=df_merged_hidden, right=df_valid_hidden, how='left', on='song_id')
#df_merged_hidden.columns

In [ ]:
display(df_visible.shape)
display(df_hidden.shape)

(369, 16)

(277, 16)

In [ ]:
#df_metadata_topic_all = pd.merge(left=df_dominant_topic, right=df_metadata, how='left', on='track_id')

In [ ]:
# df_metadata_topic_all.columns

In [ ]:
# df_metadata_topic_all.shape

#Add Topics to Filtered Songs

In [ ]:
availableTracks_visible=set(df_visible['track_id'].unique())
availableTracks_hidden=set(df_hidden['track_id'].unique())
availableTracks_all=availableTracks_visible.union(availableTracks_hidden)
availableUsers=df_visible['user_id'].unique()

In [ ]:
df_subLyrics = df_lyrics.loc[df_lyrics['track_id'].isin(availableTracks_all)]
df_subLyrics.shape

(17940, 5)

In [ ]:
len(availableTracks_all)

173

In [ ]:
stop_words = stopwords.words('english')
from string import punctuation
punc = list(set(punctuation))

stop_words = stop_words + punc

In [ ]:
df_subLyrics['check'] = df_subLyrics['word'].apply(lambda x: x in stop_words)
df_subLyrics.head()

                 track_id  mxm_tid word  count  is_test  check
13142  TRAALAH128E078234A   727122    i     39        0   True
13143  TRAALAH128E078234A   727122  the     17        0   True
13144  TRAALAH128E078234A   727122  you     21        0   True
13145  TRAALAH128E078234A   727122   to     11        0   True
13146  TRAALAH128E078234A   727122  and     10        0   True

In [ ]:
df_subLyrics = df_subLyrics[df_subLyrics['check'] == False]

del df_subLyrics['check']

In [ ]:
#Creating tokenziner, lemmitizer, stemmer to process the review text
lemmatizer = WordNetLemmatizer()
porter_stemmer = PorterStemmer()

df_subLyrics['word'] = [lemmatizer.lemmatize(w) for w in df_subLyrics['word'].to_list()]
#df_subLyrics['word'] = [porter_stemmer.stem(w) for w in df_subLyrics['word'].to_list()]

df_subLyrics.shape

(11895, 5)

In [ ]:
col = []

for i in range(len(df_subLyrics)):
    a = list((df_subLyrics.iloc[i,2],) * df_subLyrics.iloc[i,3])
    col.append(a)

    
df_subLyrics['bagWord'] = col
df_subLyrics.head()

                 track_id  mxm_tid  ... is_test                    bagWord
13162  TRAALAH128E078234A   727122  ...       0   [know, know, know, know]
13169  TRAALAH128E078234A   727122  ...       0  [one, one, one, one, one]
13171  TRAALAH128E078234A   727122  ...       0                    [never]
13173  TRAALAH128E078234A   727122  ...       0                     [feel]
13174  TRAALAH128E078234A   727122  ...       0                 [let, let]

[5 rows x 6 columns]

In [ ]:
df_subLyrics_agg = df_subLyrics.groupby(by='track_id')['bagWord'].sum()
df_subLyrics_agg = df_subLyrics_agg.reset_index()
df_subLyrics_agg

               track_id                                            bagWord
0    TRAALAH128E078234A  [know, know, know, know, one, one, one, one, o...
1    TRABFDT12903CADD73  [like, like, come, come, come, one, one, one, ...
2    TRAEHHJ12903CF492F  [love, love, know, oh, oh, oh, oh, oh, oh, oh,...
3    TRAFQFV128F9326217  [know, know, know, know, like, like, like, lik...
4    TRAFUNV128F92CFEB2  [like, like, like, like, like, go, one, one, o...
..                  ...                                                ...
168  TRZJNDO128EF343498  [know, know, know, know, know, know, know, lik...
169  TRZJNOD128F4264131  [know, know, know, like, time, time, time, go,...
170  TRZPSWK128F4243514  [know, know, like, like, got, way, way, take, ...
171  TRZXIRJ128E0781337  [know, like, like, time, come, come, come, com...
172  TRZYAGJ128F9332CEF  [love, know, know, like, time, go, oh, oh, oh,...

[173 rows x 2 columns]

In [ ]:
df_subLyrics_agg["doc"]=df_subLyrics_agg["bagWord"].apply(lambda x:" ".join(x))
df_subLyrics_agg

               track_id  ...                                                doc
0    TRAALAH128E078234A  ...  know know know know one one one one one never ...
1    TRABFDT12903CADD73  ...  like like come come come one one one one one o...
2    TRAEHHJ12903CF492F  ...  love love know oh oh oh oh oh oh oh oh oh one ...
3    TRAFQFV128F9326217  ...  know know know know like like like like like l...
4    TRAFUNV128F92CFEB2  ...  like like like like like go one one one one se...
..                  ...  ...                                                ...
168  TRZJNDO128EF343498  ...  know know know know know know know like like l...
169  TRZJNOD128F4264131  ...  know know know like time time time go go oh oh...
170  TRZPSWK128F4243514  ...  know know like like got way way take take woul...
171  TRZXIRJ128E0781337  ...  know like like time come come come come come c...
172  TRZYAGJ128F9332CEF  ...  love know know like time go oh oh oh oh oh oh ...

[173 rows x 3 columns]

In [ ]:
doc_complete = df_subLyrics_agg.iloc[:,1]
doc_complete=doc_complete.tolist()

In [ ]:
import gensim
from gensim import corpora
dictionary = corpora.Dictionary(doc_complete)

doc_term_matrix = [dictionary.doc2bow(doc) for doc in doc_complete]

In [ ]:
Lda = gensim.models.ldamodel.LdaModel
# ldamodel = Lda(doc_term_matrix, id2word = dictionary, passes=50,per_word_topics=True)

lda_model = gensim.models.ldamodel.LdaModel(corpus=doc_term_matrix,
                                           id2word=dictionary,
                                           num_topics=10, 
                                           random_state=100,
                                           update_every=1,
                                           chunksize=100,
                                           passes=10,
                                           alpha='auto',
                                           per_word_topics=True)

text_data=df_subLyrics_agg.doc.values.tolist()
text_data_t=[[x] for x in text_data]

data_test = df_subLyrics_agg.doc.values.tolist()

doc_lda = lda_model[doc_term_matrix]

In [ ]:
lda_model.print_topics()

[(0,
  '0.030*"like" + 0.023*"come" + 0.014*"got" + 0.013*"love" + 0.012*"get" + 0.010*"go" + 0.009*"think" + 0.009*"see" + 0.009*"almost" + 0.009*"let"'),
 (1,
  '0.026*"keep" + 0.019*"got" + 0.017*"man" + 0.015*"babi" + 0.013*"know" + 0.012*"time" + 0.012*"wait" + 0.012*"want" + 0.011*"well" + 0.011*"let"'),
 (2,
  '0.147*"da" + 0.036*"shot" + 0.021*"say" + 0.014*"whatcha" + 0.014*"chang" + 0.013*"master" + 0.010*"tie" + 0.010*"mm" + 0.010*"aint" + 0.010*"ca"'),
 (3,
  '0.099*"la" + 0.044*"que" + 0.024*"te" + 0.020*"gent" + 0.016*"de" + 0.016*"e" + 0.015*"tu" + 0.013*"en" + 0.012*"lieb" + 0.012*"ich"'),
 (4,
  '0.032*"oh" + 0.031*"girl" + 0.028*"take" + 0.024*"babi" + 0.023*"like" + 0.022*"yeah" + 0.021*"home" + 0.020*"na" + 0.020*"got" + 0.019*"want"'),
 (5,
  '0.031*"one" + 0.021*"know" + 0.017*"love" + 0.017*"oh" + 0.016*"time" + 0.013*"girl" + 0.013*"feel" + 0.012*"world" + 0.012*"want" + 0.011*"ca"'),
 (6,
  '0.052*"cri" + 0.041*"tonight" + 0.031*"one" + 0.026*"shake" + 0.025*"bang" + 0.025*"le" + 0.023*"lone" + 0.020*"girl" + 0.020*"babi" + 0.019*"fall"'),
 (7,
  '0.045*"love" + 0.036*"oh" + 0.026*"heart" + 0.023*"half" + 0.020*"hey" + 0.017*"tell" + 0.016*"ooh" + 0.016*"would" + 0.012*"touch" + 0.011*"float"'),
 (8,
  '0.054*"oh" + 0.033*"yeah" + 0.032*"wake" + 0.020*"make" + 0.018*"never" + 0.017*"away" + 0.016*"find" + 0.015*"rain" + 0.013*"work" + 0.012*"u"'),
 (9,
  '0.035*"imma" + 0.024*"hey" + 0.023*"know" + 0.018*"go" + 0.013*"see" + 0.012*"gonna" + 0.012*"love" + 0.012*"like" + 0.011*"wanna" + 0.011*"way"')]

In [ ]:
def format_topics_sentences(ldamodel=lda_model, corpus=doc_term_matrix, texts=data_test):
    # Init output
    sent_topics_df = pd.DataFrame()
    data_rows=[]
    # Get main topic in each document
    for i, row in enumerate(ldamodel[corpus]):
        row = (row[0])
        # Get the Dominant topic, Perc Contribution and Keywords for each document
        
        topic_contr={
            0:0,
            1:0,
            2:0,
            3:0,
            4:0,
            5:0,
            6:0,
            7:0,
            8:0,
            9:0
        }
        for j, (topic_num, prop_topic) in enumerate(row):
            # if j == 0:  # => dominant topic
              wp = ldamodel.show_topic(topic_num)
              topic_keywords = ", ".join([word for word, prop in wp])
              topic_contr[topic_num]=round(prop_topic,4)
        data_rows.append(topic_contr)
    contents = pd.Series(texts)
    sent_topics_df = pd.DataFrame(data_rows)
    sent_topics_df = pd.concat([sent_topics_df, contents], axis=1)
    return(sent_topics_df)

In [ ]:
df_topic_sents_keywords = format_topics_sentences()
# Format
df_dominant_topic = df_topic_sents_keywords.reset_index(drop=True)
df_dominant_topic.columns = ['Topic_0','Topic_1','Topic_2','Topic_3','Topic_4','Topic_5','Topic_6','Topic_7','Topic_8','Topic_9','Text']
df_dominant_topic['track_id']=df_subLyrics_agg.iloc[:,0]

# # Show
# df_dominant_topic=df_dominant_topic.sort_values(by=['Dominant_Topic'])

display(df_dominant_topic)

     Topic_0  ...            track_id
0     0.0000  ...  TRAALAH128E078234A
1     0.0000  ...  TRABFDT12903CADD73
2     0.0000  ...  TRAEHHJ12903CF492F
3     0.0000  ...  TRAFQFV128F9326217
4     0.1984  ...  TRAFUNV128F92CFEB2
..       ...  ...                 ...
168   0.0000  ...  TRZJNDO128EF343498
169   0.0221  ...  TRZJNOD128F4264131
170   0.0616  ...  TRZPSWK128F4243514
171   0.7489  ...  TRZXIRJ128E0781337
172   0.0000  ...  TRZYAGJ128F9332CEF

[173 rows x 12 columns]

In [ ]:
df_train_features=pd.merge(df_dominant_topic,df_visible,on='track_id')
df_train_features.shape
df_train_features.to_csv('/content/drive/My Drive/ADS/final/final_train_songs_large.csv')

In [ ]:
df_test_features=pd.merge(df_dominant_topic,df_hidden,on='track_id')
display(df_test_features.shape)
df_test_features.to_csv('/content/drive/My Drive/ADS/final/final_test_songs_large.csv')

(277, 27)

#Create Rating/Status for Test

Find Cross Multiplication between all user_id and track_id

In [ ]:
lyrics_metadata.columns

Index(['track_id', 'title', 'song_id', 'release', 'artist_id', 'artist_mbid',
       'artist_name', 'duration', 'artist_familiarity', 'artist_hotttnesss',
       'year', 'track_7digitalid', 'shs_perf', 'shs_work'],
      dtype='object')

In [ ]:
df_visible.count()

user_id               369
song_id               369
freq_song             369
track_id              369
title                 369
release               369
artist_id             369
artist_mbid           369
artist_name           369
duration              369
artist_familiarity    369
artist_hotttnesss     369
year                  369
track_7digitalid      369
shs_perf              369
shs_work              369
dtype: int64

In [ ]:
df_visible['user_id'].nunique()

31

In [ ]:
df_hidden['user_id'].nunique()

31

In [ ]:
print(len(availableTracks_visible),len(availableTracks_hidden))

93 80

In [ ]:
index_hidden = pd.MultiIndex.from_product([availableUsers,availableTracks_hidden], names = ["user_id","track_id"])
df_rating_hidden=pd.DataFrame(index = index_hidden).reset_index()

In [ ]:
index_visible = pd.MultiIndex.from_product([availableUsers,availableTracks_visible], names = ["user_id","track_id"])
df_rating_visible=pd.DataFrame(index = index_visible).reset_index()

In [ ]:
df_rating_hidden.shape

(2480, 2)

In [ ]:
df_rating_visible.shape

(2883, 2)

Merge Cross Product dataframe to get song_metadata

In [ ]:
mapping_songs_hidden=pd.merge(df_rating_hidden,lyrics_metadata,on=['track_id'],how='left')
display(mapping_songs_hidden.shape)

(2480, 15)

In [ ]:
mapping_songs_visible=pd.merge(df_rating_visible,lyrics_metadata,on=['track_id'],how='left')
display(mapping_songs_visible.shape)

(2883, 15)

In [ ]:
# mapping_songs.head()

In [ ]:
mapping_songs_hidden=pd.merge(df_dominant_topic,mapping_songs_hidden,on='track_id')
mapping_songs_visible=pd.merge(df_dominant_topic,mapping_songs_visible,on='track_id')

Merge Cross Product meta_data to for every user_id

In [ ]:
df_final_hidden=pd.merge(mapping_songs_hidden,df_hidden.loc[:,['user_id','track_id','freq_song']],how='left',on=['user_id','track_id'])
df_final_hidden.shape

(2480, 27)

In [ ]:
df_final_hidden.columns

Index(['Topic_0', 'Topic_1', 'Topic_2', 'Topic_3', 'Topic_4', 'Topic_5',
       'Topic_6', 'Topic_7', 'Topic_8', 'Topic_9', 'Text', 'track_id',
       'user_id', 'title', 'song_id', 'release', 'artist_id', 'artist_mbid',
       'artist_name', 'duration', 'artist_familiarity', 'artist_hotttnesss',
       'year', 'track_7digitalid', 'shs_perf', 'shs_work', 'freq_song'],
      dtype='object')

In [ ]:
df_final_visible=pd.merge(mapping_songs_visible,df_visible.loc[:,['user_id','track_id','freq_song']],how='left',on=['user_id','track_id'])
df_final_visible.shape

(2883, 27)

#Add Unary Rating
Add Rating 0 if user hasn't listened to the song 
Add Rating 1 if user has listened to the song

In [ ]:
display(df_final_hidden.head())
df_final_hidden['freq_song']=df_final_hidden['freq_song'].fillna(0)
df_final_hidden['status']=df_final_hidden.apply(lambda x: 1 if x['freq_song']>0 else 0,axis=1)

   Topic_0  Topic_1  Topic_2  ...  shs_perf  shs_work  freq_song
0      0.0      0.0      0.0  ...        -1         0        1.0
1      0.0      0.0      0.0  ...        -1         0        NaN
2      0.0      0.0      0.0  ...        -1         0        NaN
3      0.0      0.0      0.0  ...        -1         0        NaN
4      0.0      0.0      0.0  ...        -1         0        NaN

[5 rows x 27 columns]

In [ ]:
display(df_final_hidden.head())
df_final_visible['freq_song']=df_final_visible['freq_song'].fillna(0)
df_final_visible['status']=df_final_visible.apply(lambda x: 1 if x['freq_song']>0 else 0,axis=1)

   Topic_0  Topic_1  Topic_2  Topic_3  ...  shs_perf  shs_work  freq_song  status
0      0.0      0.0      0.0      0.0  ...        -1         0        1.0       1
1      0.0      0.0      0.0      0.0  ...        -1         0        0.0       0
2      0.0      0.0      0.0      0.0  ...        -1         0        0.0       0
3      0.0      0.0      0.0      0.0  ...        -1         0        0.0       0
4      0.0      0.0      0.0      0.0  ...        -1         0        0.0       0

[5 rows x 28 columns]

In [ ]:
display(df_final_hidden.head())
print(len(df_final_hidden))

   Topic_0  Topic_1  Topic_2  Topic_3  ...  shs_perf  shs_work  freq_song  status
0      0.0      0.0      0.0      0.0  ...        -1         0        1.0       1
1      0.0      0.0      0.0      0.0  ...        -1         0        0.0       0
2      0.0      0.0      0.0      0.0  ...        -1         0        0.0       0
3      0.0      0.0      0.0      0.0  ...        -1         0        0.0       0
4      0.0      0.0      0.0      0.0  ...        -1         0        0.0       0

[5 rows x 28 columns]

2480

In [ ]:
df_final_visible.head()
print(len(df_final_visible))

2883

In [ ]:
df_final_hidden.to_csv('/content/drive/My Drive/ADS/final/final_test_topics_large.csv')

#Ratio

In [ ]:
df_final_hidden['status'].value_counts()

0    2203
1     277
Name: status, dtype: int64

In [ ]:
df_final_visible.to_csv('/content/drive/My Drive/ADS/final/final_train_topics_large.csv')

In [ ]:
  df_final_visible['status'].value_counts()

0    2514
1     369
Name: status, dtype: int64

In [ ]:
df_final_visible.head()

   Topic_0  Topic_1  Topic_2  Topic_3  ...  shs_perf  shs_work  freq_song  status
0      0.0      0.0   0.7917      0.0  ...        -1         0        0.0       0
1      0.0      0.0   0.7917      0.0  ...        -1         0        0.0       0
2      0.0      0.0   0.7917      0.0  ...        -1         0        0.0       0
3      0.0      0.0   0.7917      0.0  ...        -1         0        0.0       0
4      0.0      0.0   0.7917      0.0  ...        -1         0        5.0       1

[5 rows x 28 columns]

In [ ]:
df_final_visible[df_final_visible.user_id=='3e154f655302a515efe03d9269f0843a012d60a2']

      Topic_0  Topic_1  Topic_2  Topic_3  ...  shs_perf  shs_work  freq_song  status
6      0.0000   0.0000   0.7917      0.0  ...        -1         0        0.0       0
37     0.0000   0.0000   0.0000      0.0  ...        -1         0        3.0       1
68     0.0000   0.0000   0.0000      0.0  ...        -1         0        0.0       0
99     0.0000   0.0000   0.0000      0.0  ...      6507      6507        0.0       0
130    0.1963   0.4673   0.0000      0.0  ...        -1         0        0.0       0
...       ...      ...      ...      ...  ...       ...       ...        ...     ...
2734   0.0247   0.0000   0.0000      0.0  ...        -1         0        0.0       0
2765   0.0000   0.0475   0.0000      0.0  ...        -1         0        0.0       0
2796   0.5562   0.0974   0.0000      0.0  ...        -1         0        0.0       0
2827   0.0221   0.0000   0.0103      0.0  ...     12880     12880        0.0       0
2858   0.7489   0.0407   0.0000      0.0  ...        -1         0        0.0       0

[93 rows x 28 columns]

In [ ]:
df_final_hidden[df_final_hidden.user_id=='206bd0676fe110325996506f393538fbf422549e']['status'].value_counts()

0    76
1     4
Name: status, dtype: int64